@font-face {
  font-family: myFont;
  src: url("../assets/fonts/UnifrakturCook/UnifrakturCook-Bold.ttf");
}

body {
  font-family: myFont, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-image: url("../assets/image/background/ai-generated-8347847.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

main {
  display: flex;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center !important;
}

#intro {
  display: none;
}

canvas {
  display: block;
}

#canvasContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 4.5rem;
  margin-block-end: 0.1em;
  color: white;
  margin-top: 1px;
}

h2,
h3 {
  color: white;
  text-align: center;
  margin-block-end: 0.33em;
}

canvas {
  display: block;
}

#mob-btn-container {
  display: none;
}

.mobile-button {
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  border: none;
}

#left-thumb,
#center-btn,
#right-thumb {
  display: none;
}

#muteSound,
#restart,
#quick-restart {
  border: none;
  background-color: transparent;
  padding: 20px;
}

#muteSound img,
#restart img,
#quick-restart img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#startButton {
  position: fixed;
  display: none;
  top: 150px;
  text-align: center;
}

#rotate {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  z-index: 9999;
  padding: 2rem;
}

#rotate img {
  width: 90px;
  height: 90px;
  margin: 0 20px 0 20px;
}

.controls-description h3 {
  margin: 1px;
}

#storyMobile {
  display: none;
  color: white;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

footer a:hover {
  color: crimson;
}

.line {
  border: #ffffffa9 solid 1px;
  width: 90%;
  margin-bottom: 3px;
}

button,
.mobile-button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.defeat {
  display: none;
}

.victory {
  display: none;
}

.defeat img,
.victory img {
  width: 720px;
  height: 480px;
}
